@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

body {
    background: url(../../LabCapi/img/venezuela9.jpg) no-repeat center center fixed;
        background-size: cover;
    overflow: hidden;
    height: 10%;
    width: 1200px;
    margin: 0 auto;
    background-color: black;
    font-family: 'Roboto', sans-serif;
    color: cyan;
}

a {
    text-decoration: none;
    color: inherit;
}

* {
    box-sizing: border-box;
}

.menu {
    width: 300px;
    height: 100px;
    display: block;
    position: relative;
    cursor: pointer;
    text-decoration: none;
}

.menu-title {
    display: block;
    width: 250px;
    height: 40px;
    padding: 12px 0 0;
    background: transparent;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s transparent;
}

.menu-title:before {
    content: "";
    display: block;
    text-decoration: none;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 0 solid transparent;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 101;
    transition:
        0.2s 0.2s border-top ease-out,
        0.3s border-top-color;
}

.menu-title:hover {
    background: transparent;
    text-decoration: none;
}

.menu-title:hover:before {
    border-top-color: #8db842;
    text-decoration: none;
}

.menu:hover>.menu-title:before {
    border-top-width: 0;
    transition:
        0.2s border-top-width ease-in,
        0.3s border-top-color;
}

.menu-title:after {
    content: "";
    display: block;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 0 solid transparent;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 101;
    transition: 0.2s border-bottom ease-in;
}

.menu:hover>.menu-title:after {
    border-bottom-width: 5px;
    transition: 0.2s 0.2s border-bottom-width ease-out;
}

.menu-title_2nd {
    background: transparent;
}

.menu-title_2nd:hover {
    background: transparent;
}

.menu-title_2nd:before {
    border-top-color: transparent;
}

.menu-title_2nd:hover:before {
    border-top-color: transparent;
}

.menu-title_3rd {
    background: transparent;
}

.menu-title_3rd:hover {
    background: transparent;
}

.menu-title_3rd:before {
    border-top-color: transparent;
}

.menu-title_3rd:hover:before {
    border-top-color: transparent;
}

.menu-title_4th {
    background: #dbab58;
}

.menu-title_4th:hover {
    background: #cb9b48;
}

.menu-title_4th:before {
    border-top-color: #dbab58;
}

.menu-title_4th:hover:before {
    border-top-color: #cb9b48;
}

.menu-dropdown {
    min-width: 100%;
    padding: 15px 0;
    font-size: 20px;
    position: absolute;
    background: transparent;
    z-index: 100;
    transition:
        0.5s padding,
        0.5s blue;
}

.menu-dropdown:after {
    content: "";
    display: block;
    height: 0;
    border-top: 15px solid transparent;
    border-left: 35px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 101;
    transition: 0.5s border-top;
}

.menu:not(:hover)>.menu-dropdown {
    padding: 4px 0;
    background: grey;
    z-index: 99;
}

.menu:not(:hover)>.menu-dropdown:after {
    border-top-color: transparent;
}

.menu:not(:hover)>.menu-title:after {
    border-bottom-color: transparent;
}

.menu-dropdown>* {
    overflow: hidden;
    height: 30px;
    padding: 5px 10px;
    background: rgba(0, 0, 0, 0);
    white-space: nowrap;
    transition:
        0.5s 10px cubic-bezier(.73, .32, .34, 1.5),
        0.5s 28px cubic-bezier(.73, .32, .34, 1.5),
        0.5s 12px cubic-bezier(.73, .32, .34, 1.5),
        0.5s 0.2s transparent,
        0.2s transparent;
}

.menu-dropdown>*:hover {
    background: rgba(0, 0, 0, 0.1);
}

.menu:not(:hover)>.menu-dropdown>* {
    visibility: hidden;
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    color: rgba(25, 25, 25, 0);
    transition:
        0.5s 0.1s,
        0.5s 0.1s,
        0.5s 0.1s,
        0.3s transparent,
        0.6s none,
    z-index: 99;
}

.hList {
    //overflow: hidden;
}

.hList>* {
    float: left;
}

.hList>*+* {
    margin-left: 0;
}